
.top-bar {
    height: 60px;
    background-color: #343a40;
    color: #fff;
    font-size: 18px;
    padding-right: 40px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.top-right {
    float: right;
    height: 60px;
    line-height: 60px;
    padding: 0px 10px;
}

.top-right a{
    color: #b8bfce;
    text-decoration: none;
        
}

.top-right a i{
    margin-left: 10px;
    margin-right: 10px;
}


.top-right a:hover{
    color: #fff;
    text-decoration: none;
    transition: all 1s;
}

